/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Tutorial Case

   Cycle Pathology Style Sheet
   Author: Zhou,Jin
   Date:   02/29/2020

   Filename:         cp_styles.css
   Supporting Files: atwood.png, bike_bg.png, rawlings.png

*/
/*  Styles for the Page Body    */
body{
     background:    black url(bike_bg.png) top left no-repeat;
     position:      relative; 
     width:         95%;
     min-width:     1000px;
     max-width:     1400px;
}
/*  General Navigation List Style   */
nav a{
    text-decoration:none;
    
}
nav a:hover{
    color:          white;
}
/*  Horizontal Navigation List styles  */
nav.horizontalNAV {
	margin-left:    33%;
	width:          66%;
}	
nav.horizontalNAV li {
    font-size:      87.5%;
    float:          left;
    padding:        15px 0px;
    text-align:     center;
    width:          20%;
	
}
nav.horizontalNAV li a{
    color:          rgb(255,255,99);

}
nav.horizontalNAV li a:hover{
    color:          white;
}
/*   Vertical Navigation List    */
nav.verticalNAV {
    width:          23%;
    float:          left;
    margin-left:    3%;

}
    nav.verticalNAV a {
        border-bottom:  1px solid rgb(182,182,92);
        color:          rgb(182,182,92);
        display:        block;
        line-height:    2.2em;
    }
nav.verticalNAV a:hover{
    background-color:   rgb(105,96,87);
    background-color:   rgba(255,255,255,0.3);
}
/*  President's message */
#president {
	background-color:   rgb(105,96,87);
	background-color:   rgba(255,255,255,0.3);
    background-image:   url(atwood.png);
    background-position: bottom right;
    background-repeat:  no-repeat;
   
    -moz-border-radius:    30px;
    -webkit-border-radius: 30px;
    border-radius:         30px;
	float:                 left;	 
    
    margin-left:        33%;
    width:              40%;

}
#president h1{
    font-family:    'Lucida Calligraphy', 'Apple Chancery', cursive;
    font-size:      158%;
    font-weight:    bold;
    margin:         10px 0px 0px 10px;
}
#president h2{
    font-size:      105%;
    margin:         0px 0px 10px 15px;
}
#president p{
    font-size:      87.5%;
    margin:         0px 40% 20px 15px;
    
}

/*  Story styles  */
#story {
    float:  left;
    clear:  left;
    margin:20px 0px 0px 33%;
    background-color: gray;
    background-color: rgba(255,255,255,0.3);

}
#story article{
    float:left;
    border-right: solid;
    width: 50%;
}
#story figure{
    float: left;
    width:49%;
}
#story article hgroup{
    background:rgb(97,30,2) url(rawlings.png);
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size:contain;
    color: rgb(145,98,78);
    color: rgba(255,255,255,0.3);
    text-indent:10px;

}
#story article hgroup h1{
    font-size:  158%;
    letter-spacing: 3px;
}
#story article hgroup h2 {
        font-size: 105%;
    }
#story article p{
    font-size: 80%;
    margin: 10px;

}
#story article ul li{
    font-size: 80%;
    margin: 15px 25px;
}
#story article ul li strong{
    font-weight: bold;
}
/*  Figure box styles  */
#story figure {


}
#story figure img {
    display: block;
    width:   80%;
    margin:  30px auto 10px;
    border:  5px inset, rgb(227,168,145);
}
#story figure figcaption{
    font-size: 75%;
    font-style: italic;
    text-align: center;
}
/*  Styles for the Page Header   */
header{
    position: absolute;

}

/*  Styles for the Sidebar   */
aside {
    color: rgb(145,98,78);
    position: absolute;
    top: 400px;
    left: 10px;
    width: 30%;
    height: 450px;
    overflow: auto;
}
aside h1{
    font-weight: bold;
    font-size: 105%; 
    text-align: center;
    margin-bottom: 25px;
}
aside h2 {
        font-weight: bold;
        font-size: 85%;
}
aside p {
    font-size: 75%;
    margin: 15px;

}
/*  Footer Styles  */
footer {
    clear: left;
    margin-left: 33%;
}
footer address {
        font-style: normal;
        color: rgb(182,182,92);
        text-align: center;
        padding: 10px;
        font-size: 80%;
}
